@import "./milestones";
.dashboard{
    margin-left: 15rem;
    padding: 2rem;
    height: 100%;
    color: white;
    @include getNavbarStyles();
    .grid{
        margin-top: 5rem;
        height:100%;
        .first{
            margin: 2rem 0;
            @include getmilestone;
        }
        .second{
            height: 70%;
            display: grid;
            grid-template-columns: 0.6fr 1fr;
            @include getrevenueStyle;
            @include investorStyle;
        }
    }
}
